{% extends 'base.html.twig' %}

{% block title %}Option{% endblock %}

{% block body %}
    <h1>Option</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ option.id }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ option.color }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ option.size }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ option.weight }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('option_index') }}">back to list</a>

    <a href="{{ path('option_edit', {'id': option.id}) }}">edit</a>

    {{ include('option/_delete_form.html.twig') }}
{% endblock %}
