<form method="post" action="{{ path('gammes_delete', {'id': gamme.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gamme.id) }}">
    <button class="btn">Supprimer</button>
</form>
