{% extends 'base.html.twig' %}

{% block title %}Edit Gammes{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <br/>
    <h1>Editer la Gammes</h1>
    <div class="col-md-6 col-lg-6 col-sm-6 ">
        {{ include('gammes/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('gammes_index') }}">back to list</a>
        {{ include('gammes/_delete_form.html.twig') }}
    </div>



{% endblock %}
