{% extends 'base.html.twig' %}

{% block title %}Gammes index{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <br/>
    <h1>Page de la gamme</h1>
    <div class="col-md-6 col-lg-6 col-sm-6 ">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for gamme in gammes %}
                <tr>
                    <td>{{ gamme.id }}</td>
                    <td>{{ gamme.name }}</td>
                    <td>{{ gamme.description }}</td>
                    <td>
                        <a href="{{ path('gammes_show', {'id': gamme.id}) }}">show</a>
                        <a href="{{ path('gammes_edit', {'id': gamme.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">pas de gammes enregistrer</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('gammes_new') }}">Créer une nouvelle Gamme</a>
    </div>




{% endblock %}
