{% extends 'base.html.twig' %}

{% block title %}New Gammes{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <br/>
    <h1>Créer une nouvelle gamme</h1>
    <div class="col-md-6 col-lg-6 col-sm-6 ">
        {{ include('gammes/_form.html.twig') }}

        <a href="{{ path('gammes_index') }}">back to list</a>
    </div>

{% endblock %}
