{% extends 'base.html.twig' %}

{% block title %}Gammes{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <br/>
    <h1>Gamme {{ gamme.name }}</h1>
    <div class="col-md-6 col-lg-6 col-sm-6 ">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gamme.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ gamme.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ gamme.description }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('gammes_index') }}">back to list</a>

        <a href="{{ path('gammes_edit', {'id': gamme.id}) }}">edit</a>

        {{ include('gammes/_delete_form.html.twig') }}
    </div>
{% endblock %}
