{% extends 'base.html.twig' %}

{% block title %}Edit Item{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <br/>
    <h1>Editer l'article</h1>
    <div class="col-md-6 col-lg-6 col-sm-6 ">
        {{ include('item/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('item_index') }}">back to list</a>

        {{ include('item/_delete_form.html.twig') }}
    </div>

{% endblock %}
