{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <br/>
    <h1>Page des articles</h1>

    <div class="col-md-6 col-lg-6 col-sm-6 ">

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <a href="{{ path('item_show', {'id': item.id}) }}">show</a>
                        <a href="{{ path('item_edit', {'id': item.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">pas d'articles enregistré</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('item_new') }}">Créer un nouvel article</a>
    </div>

{% endblock %}
