{% extends 'base.html.twig' %}

{% block title %}New Item{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <br/>
    <h1>Créer un nouvel article</h1>

    <div class="col-md-6 col-lg-6 col-sm-6 ">

        {{ include('item/_form.html.twig') }}

        <a href="{{ path('item_index') }}">back to list</a>
    </div>

{% endblock %}
