{% extends 'base.html.twig' %}

{% block title %}Item{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <br/>
    <h1>Article {{ item.name }}</h1>

    <div class="col-md-6 col-lg-6 col-sm-6 ">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ item.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ item.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ item.description }}</td>
                </tr>
                <tr>
                    <th>Price</th>

                    <td>
                        {% if item.promotions | length > 0 %}
                         <strike>{{ item.price }} €</strike>
                        {% else %}
                            {{ item.price }} €
                        {% endif %}
                    </td>

                    {% if item.promotions | length > 0 %}
                        <td>{{ item.promotions.first.price }} €</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Quantity</th>
                    <td>{{ item.quantity }}</td>
                </tr>
                <tr>
                    <th>Options</th>
                    <td>{{ item.options.color }}</td>
                    <td>{{ item.options.size }}</td>
                    <td>{{ item.options.weight }}</td>
                </tr>
                </tbody>
        </table>

        <a href="{{ path('item_index') }}">back to list</a>

        <a href="{{ path('item_edit', {'id': item.id}) }}">edit</a>

        {{ include('item/_delete_form.html.twig') }}
    </div>


{% endblock %}
